<!DOCTYPE html>

<head>
    <title>Insert</title>
    <link rel='stylesheet' href='static/css/style.css'/>
    <script src='static/js/script.js'></script>
</head>

<body>
    <table>
        <form action='insert' method='POST'>
            <tr>
                <td><label for="name">Name:</label><td>
                <td><input type='text' id='name' name='name'/><td>
            </tr>

            <tr>
                <td><label for="dept">Department:</label><td>
                <td><input type='text' id='dept' name='dept'/><td>
            </tr>

            <tr>
                <td><label for="dob">Birht Date:</label><td>
                <td><input type='date' id='dob' name='dob'/><td>
            </tr>

            <tr>
                <td><button type='submit'> Insert </button></td>
                <td></td>
            </tr>
        </form>
    </table>
</body>
